@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Custom fonts */
@font-face {
  font-family: "ProximaExtrabold";
  src: url("/fonts/ProximaNova-Extrabold.otf");
  
}

@font-face {
  font-family: "ProximaSemibold";
  src: url("/fonts/ProximaNova-SemiBold.otf");
}

@font-face {
  font-family: "ProximaRegular";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: "ProximaBold";
  src: url("/fonts/ProximaNova-Bold.otf");
}

